.pagination {
    @extend %center;
    font-size: 1.1em;
    width: 90%;
    max-width: $max-width;
    text-align: center;
    margin-bottom: 20px;

    span{
        display: inline-block;
        margin: 1px;
        padding: 5px 8px;
        font-family: $sfont;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $pagination_color;
    }

    a{
        @extend span;
        border-top: $pagination_border;
        border-bottom: $pagination_border;

        &:hover{
            color: $pagination_hover_color;
            border-color: $pagination_hover_border_color;
        }
    }

    .current{
        color: $pagination_current_color;
        border-top: $pagination_current_border;
        border-bottom: $pagination_current_border;
    }

    .title{
        @if $pages_name_display == no{
            display: none;
        }
    }
}
