footer{
    width: 100%;

    .foot1{
        .content{
            border-top: $line;
        }

        .widgetized{
            width: 100%;
            @include flexbox(row, wrap, space-between, stretch);

            > div{
                padding: 20px;
                box-sizing: border-box;
            }

            .widget{
                border: $noborder;
            }
        }

        .one_widget{
            > div {
                width: 100%;
            }
        }

        .two_widget{
            > div{
                width: 50%;

                @media screen and (max-width: $widget_foot_collapse_3){
                    width: 100%;
                }
            }
        }

        .three_widget{
            > div{
                width: (100% / 3);

                @media screen and (max-width: $widget_foot_collapse_2){
                    width: 50%;
                }

                @media screen and (max-width: $widget_foot_collapse_3){
                    width: 100%;
                }
            }
        }

        .four_widget{
            > div{
                width: 25%;

                @media screen and (max-width: $widget_foot_collapse_1){
                    width: (100% / 3);
                }

                @media screen and (max-width: $widget_foot_collapse_2){
                    width: 50%;
                }

                @media screen and (max-width: $widget_foot_collapse_3){
                    width: 100%;
                }
            }
        }
    }

    .foot2{
        background: $foot_2_bg;
        padding: 10px 0px;
        font-family: $sfont;
        color: $foot_2_color;

        .content{
            @include flexbox(row, wrap, space-between, center);
        }

        a{
            font-weight: $ssnormal;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $foot_2_a_color;

            &:hover{
                color: $foot_2_a_hover_color;
            }
        }

        .backtotop{
            @extend %linkline;
        }

        .navline{
            @include flexbox(row, wrap, space-between, center);
            padding: 20px 0px;

            nav{
                a{
                    padding: 10px;

                    &:first-of-type{
                        padding-left: 0px;
                    }
                }
            }

        }

    }

    .foot3{
        background: $foot_3_bg;
        color: $foot_3_color;
        padding: 10px 0px;

        a{
            color: $foot_3_a_color;

            &:hover{
                color: $foot_3_a_hover_color;
            }
        }

        .content{
            @include flexbox(row, wrap, space-between, center);
        }

        .smline{
            a{
                padding: 0px 10px;

                &:last-of-type{
                    padding-right: 0px;
                }
            }

            .fa{
                font-size: 1.2em;
                background: $foot_3_color;
                padding: 10px 7px;
                border-radius: 50%;
                color: $foot_3_bg;
                transition: .3s all;

                &:hover{
                    color: $foot_3_color;
                    background: $foot_3_bg;
                }
            }
        }
    }
}
