.single{
    article{
        .meta{
            position: relative;

            @if $meta_line_display == yes{
                &:after{
                    width: 40%;
                    left: (50% - (40% / 2));
                }
            }
        }

        footer{
            p{
                margin: 15px 0px;
            }
        }
    }

    .page-nav{
        border-bottom: $line;
        padding-bottom: 20px;
        margin-bottom: 20px;
        p{
            @include flexbox(row, wrap, space-between, center);
            font: {
                //size: 1.2em;
                weight: $ssnormal;
            }
            text-transform: uppercase;
        }
    }
}
