.newpost_container{
    .desc{
        margin-bottom: 30px;
    }

    .button{
        text-align: center;
        padding: 10px 0px;
        font-family: $sfont;
        letter-spacing: 2px;
        font-size: 12px;

        a{
            @include  ghostbutton($rm_border_color, $white, $rm_hover_border_color, white);
        }
    }

    nav{
        text-align: center;
        padding: 10px 0px;
        font-family: $sfont;
        letter-spacing: 2px;
        @extend %clearfix;

        a{
            @include  ghostbutton($rm_border_color, $white, $rm_hover_border_color, white);
            float: left;
        }

        .publish{
            color: red;
            float: right;
        }
    }
    .upload{
        margin-top: 30px;
        background: white;
        position:relative;
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        box-sizing: border-box;
        width:100%;
        border:none;
        border-bottom:$line;
        text-align:center;

        .label {
            font-size:14px;
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            left:5px;
            top:-20px;
            transition:0.2s ease all;
        }
    }

    select{
        font-size:16px;
        padding:10px 10px 10px 5px;
        display:block;
        box-sizing: border-box;
        width:100%;
        border:none;
        border-bottom:$line;
        -webkit-appearance:none
    }
}

.profile_container{
    .img{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img{
            padding: 20px;
        }
    }

    .group{
        margin-bottom: 30px;
    }

    nav{
        text-align: center;
        padding: 10px 0px;
        font-family: $sfont;
        letter-spacing: 2px;
        @extend %clearfix;

        a{
            @include  ghostbutton($rm_border_color, $white, $rm_hover_border_color, white);
            float: left;
        }

        .save{
            color: red;
            float: right;
        }
    }
}
