// COLOR VARIABLES
//--> Create your own if you like
//---------------------------------------------
$white: #FDFDFD;
$black: #121212;
$darkgray: #333;
$mediumgray: #C7C6C5;
$lightgray: #e3e3e3;
$alabaster: #F5F4EC;
$vulcan: #3C3D40;
$blackrussian: #111113;

// PALETTE OVERWRITE
//--> create a color scheme
//---------------------------------------------
$one: $mediumgray;
$two: #FAFAFA;
$three: $darkgray;
$four: $vulcan;
$five: $blackrussian;
$six: $lightgray;
$seven: $alabaster;
$eight: $white;
$nine: $black;

// SINGLE COLOR OVERWRITE
//--> change specific element
//---------------------------------------------
$bodybg: $two;
$main_color: $three;
$a_color: lighten($four, 15%);
$a_hover_color: $five;
$main_title_color: $five;
$main_title_hover_color: $one;
$togglenav_bg: $four;
$togglenav_color: $eight;
$togglenav_hover_color: $six;
$tm_bg_color: $five;
$tm_color: $eight;
$tm_hover_color: darken($six, 10%);
$tm_hover_bg: lighten($tm_bg_color, 10%);
$widget_title_bar_bg: $bodybg;
$widget_title_bar_color: $nine;
$rm_border_color: $four;
$rm_background_color: $eight;
$rm_hover_border_color: $seven;
$rm_hover_background_color: $bodybg;
$ribbon_bg: $five;
$ribbon_color: $eight;
$pagination_color: $four;
$pagination_border: 1px solid $five;
$pagination_hover_color: $five;
$pagination_hover_border_color: $seven;
$pagination_current_border: 1px solid $one;
$pagination_current_color: $four;
$offcanvas_sidebar_bg: $eight;
$foot_2_bg: $six;
$foot_2_color: $nine;
$foot_2_a_color: $four;
$foot_2_a_hover_color: lighten($four, 20%);
$foot_3_bg: $five;
$foot_3_color: $eight;
$foot_3_a_color: $six;
$foot_3_a_hover_color: $eight;
$comment_input_highlight_color: $five;
$line: 1px solid $one;
//--------------------------------------------- colors end here

// FONTS
//--> replace the fonts (do link them though)
//---------------------------------------------
$sfont: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
$sweight: 400;
$ssfont: 'Lato', 'Calibri', 'Arial', sans-serif;
$sslight: 300;
$ssnormal: 400;
$ssbold: 700;

// OTHER VARIABLES
//--> some other changes you might want to make
//---------------------------------------------
// Shortcuts
$noborder: 0px solid transparent;
// General
$root_font_size: 17px;
$general_line-height: 1.5;
// Typo
$h_text_transform: uppercase;
// Collapses
$widget_foot_collapse_1: 995px;
$widget_foot_collapse_2: 880px;
$widget_foot_collapse_3: 550px;
// Content Container
$content_width: 90%;
$max-width: 1300px;
$menu_name: Menu;
$sidebar_name: Sidebar;
$search_display: no;
// Widgets
$title_line_display: yes;
// Article
$tags_text-transform: uppercase;
$meta_line_display: yes;
// Featured Article
$ribbon_display: yes;
// Pagination
$pages_name_display: yes;
// Sidebar
$sidebar_width: 30%;

//=======================================================================
//               DANGERZONE! GO ON AT YOUR OWN RISK
//--> You are more likely to break something than fix down there
//=======================================================================
$topnav_collapse: 900px;
$sidebar-collapse: 900px;
$toggle_collapse: toggle_collapse($topnav_collapse, $sidebar_collapse);
$maxw: max-width($topnav_collapse, $sidebar_collapse);
$minw: min-width($topnav_collapse, $sidebar_collapse);
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%paddinghack {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

%widgetlist {
    ul {
        padding-left: 15px;

        li {
            list-style-type: circle;
        }
    }
}

%linkline {
    padding: 0px 2px;
    border-bottom: 1px solid transparent;

    &:hover {
        color: inherit;
        border-bottom: 1px solid currentColor;
    }
}

@function toggle_collapse($tc, $mc) {
    @if $mc <= $tc {
        @return $tc;
    }
    @else {
        @return $mc;
    }
}

@function toggle_visible($tc, $nc) {
    @if $tc == $nc {
        @return inline-block;
    }
    @if $tc != $nc {
        @return none;
    }
}

@function max-width($tn, $mn) {
    @if $tn < $mn {
        @return $mn;
    }
    @if $tn > $mn {
        @return $tn;
    }
    @if $tn == $mn {
        @return 100%;
    }
}

@function min-width($tn, $mn) {
    @if $tn < $mn {
        @return $tn;
    }
    @if $tn > $mn {
        @return $mn;
    }
    @if $tn == $mn {
        @return 0;
    }
}

@function yes_or_no($d) {
    @if $d == yes {
        @return inline-block;
    }
    @else {
        @return none;
    }
}

@function set-button-color($c) {
    @if (lightness($c) > 50) {
        @return $black;
    }
    @else {
        @return $white;
    }
}

@function set-button-shadow($c) {
    @if (lightness($c) >= 70) {
        @return 8%;
    }
    @if (lightness($c) <= 69) {
        @return 14%;
    }
    @if (lightness($c) <= 30) {
        @return 27%;
    }
}

@mixin flexbox($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin rowMachine($numPerRow, $marginright, $marginbottom) {
    width: ((100% - (($numPerRow - 1) * $marginright)) / $numPerRow);

    &:nth-child(n) {
        margin-bottom: $marginbottom;
        margin-right: $marginright;
    }

    &:nth-child(#{$numPerRow}n) {
        margin-right: 0;
    }
}


@mixin paddinghack($containerwidth, $ratiowidth, $ratioheight) {
    position: relative;
    width: $containerwidth;
    height: 0;
    padding: (($ratioheight / $ratiowidth) * $containerwidth) 0 0 0;
}



@mixin button($c) {
    margin-top: 10px;
    margin-right: 10px;
    padding: 7px 13px;
    font-size: 1em;
    color: set-button-color($c);
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    border-radius: 2px;
    outline: 0 none;
    background-color: $c;
    box-shadow: 0px 3px 0px 0px darken($c, set-button-shadow($c));

    &:hover,
    &:focus {
        background-color: saturate($c, 20%);
    }

    &:active,
    &:focus {
        padding-top: 15px;
        margin-bottom: -1px;
        outline: 0 none;
        box-shadow: 0px 1px 0px 0px darken($c, 25%);
    }
}



@mixin triangle($bw, $dir, $c) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $bw;

    @if $dir == right {
        border-color: transparent transparent transparent $c;
    }

    @if $dir == left {
        border-color: transparent $c transparent transparent;
    }

    @if $dir == bottom or $dir == down {
        border-color: $c transparent transparent transparent;
    }

    @if $dir == top or $dir == up {
        border-color: transparent transparent $c transparent;
    }
}



@mixin triangle_ra($w, $h, $dir, $c) {
    width: 0;
    height: 0;
    border-style: solid;

    @if $dir == bottom-left {
        border-color: transparent transparent transparent $c;
        border-width: $h 0 0 $w;
    }

    @if $dir == bottom-right {
        border-color: transparent transparent $c transparent;
        border-width: 0 0 $h $w;
    }

    @if $dir == top-left {
        border-color: $c transparent transparent transparent;
        border-width: $h $w 0 0;
    }

    @if $dir == top-right {
        border-color: transparent $c transparent transparent;
        border-width: 0px $w $h 0px;
    }
}


@mixin ghostbutton($bc, $bg, $bch, $bgh) {
    padding: 5px 12px;
    text-transform: uppercase;
    border-top: 1px solid $bc;
    border-bottom: 1px solid $bc;
    background: $bg;
    border-radius: 0px;
    line-height: 2.8;
    color: set-button-color($bg);

    &:hover{
        border-color: $bch;
        background: $bgh;
        color: set-button-color($bgh);
    }
}


@mixin arrowline($bg, $c, $lc, $s) {
    position: relative;
    background: $bg;
    color: $c;
    border-bottom: $lc;

    &:after {
        content: '';
        width: $s;
        height: $s;
        background: $bg;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: -($s * 1.414213562)/2.8;
        margin-left: -($s / 2);
        transform: rotate(45deg);
        border-bottom: $lc;
        border-right: $lc;
    }
}


.widget{
    h2{
        @if $title_line_display == yes{
            @include arrowline($widget_title_bar_bg, $widget_title_bar_color, $line, 10px);
        }
        @else{
            position: relative;
            background: $widget_title_bar_bg;
            color: $widget_title_bar_color;
        }
    }
}


html{
    font: {
        family: $ssfont;
        size: $root_font_size;
        weight: $sslight;
    }
    color: $main_color;
}
body{
    @extend html;
    line-height: $general_line-height;
    background:{
        color: $bodybg;
    }
}

section .content{
    max-width: $max-width;
    width: $content_width;
}

h1, h2, h3, h4, h5, h6{
    font-weight: $ssnormal;
    text-transform: $h_text_transform;
}

a{
    color: $a_color;
    &:hover{
        color: $a_hover_color;
    }

    .post &,
    article footer &,
    .widget & {
        @extend %linkline;
    }
}


@media screen and (max-width: $toggle_collapse){
    body,
    .top_menu{
        margin-top: 55px;
    }
}

.toggle_nav{
    @media screen and (max-width: $toggle_collapse){
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 104;
        background: $togglenav_bg;
        height: 55px;
        padding: 15px;
        box-sizing: border-box;

        .toggle_link,
        .toggle_link2{
            &:hover{
                color: $togglenav_hover_color;
            }

            color: $togglenav_color;
            padding: 7px 15px;
            transition: .3s all ease;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;

            @media screen and (max-width: 240px){
                font-size: 80%;
            }

        }

        .toggle_link2{

            @media screen and (max-width: $maxw) and (min-width: $minw){
                display: toggle_visible($toggle_collapse, $sidebar_collapse);
            }

            right: 5px;

            &:before{
                content: quote($sidebar_name);
            }
        }

        .toggle_link{
            @media screen and (max-width: $maxw) and (min-width: $minw){
                display: toggle_visible($toggle_collapse, $topnav_collapse);
            }

            left: 5px;

            &:after{
                content: quote($menu_name);
            }
        }

        .search{
            display: none;
            @if $search_display == yes{
                @media screen and (max-width: $topnav_collapse){
                    @extend .toggle_link;
                    display: inline-block;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    &:after{
                        display: none;
                    }
                }
            }
            @else{
                @media screen and (max-width: $topnav_collapse){
                    display: none;
                }
            }
        }
    }
}


.top_menu{
    background: $tm_bg_color;

    a{
        color: $tm_color;

        &:hover{
            color: $tm_hover_color;
        }
    }

    @media screen and (min-width: $topnav_collapse+1){
        .content{
            @include flexbox(row, wrap, space-between, center);
        }

        #menu{
            width: 90%;

            > ul > li:first-of-type{
                padding-left: 0px;
            }
        }

        .search{
            width: 10%;
            text-align: right;
        }
    }

    .search{
        @media screen and (max-width: $topnav_collapse){
            display: none;
        }
    }
}

#menu{
    background: $tm_bg_color;
    max-width: $max-width;

    li{
        &:hover{
            background: $tm_hover_bg;
        }
    }

    @media screen and (min-width: $topnav_collapse+1){
        > ul li:hover{
            background: transparent;
        }
    }

    .menu-item-has-children{

        > ul{
            @media screen and (min-width: $topnav_collapse+1){
                background: $tm_bg_color;
                position: absolute;
                top: 100%;
                left: 0;
                width: auto;
            }

            li{
                @media screen and (min-width: $topnav_collapse+1){
                    padding: 10px 6px;
                }
            }
        }
    }


    @media screen and (max-width: $topnav_collapse){
        text-align: center;
        padding: 35px 0px 0px;
        width: 320px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        position: fixed;
        top: 0;
        left: -320px;
        transform: translate(0px, 0px);
        transition: .3s all ease;
        z-index: 108;

        &.active{
            transform: translate(320px, 0px);
            transition: .3s all ease;
        }

        .toggle_link{
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;

            &:before{
                content: "";
            }
        }

        > ul{
            text-align: center;
            width: 100%;
            position: relative;
        }

        li{
            display: block;
            padding: 10px 6px;
            border-top: 1px solid lighten($tm_bg_color, 5%);

            &:first-of-type{
                border-top: $noborder;
            }

            &:hover{
                transition: .3s all linear;
                background: $tm_hover_bg;
            }
        }


        .menu-item-has-children{
            margin-left: 0;

            > a:after{
                display: none;
            }

            > ul{
                padding-top: 10px;
                display: none;

                li{
                    padding: 10px 0px;

                    &:first-of-type{
                        border-top: 1px solid lighten($tm_bg_color, 5%);
                    }
                }
            }

            &:hover,
            &:focus{
                cursor: pointer;

                > ul{
                    display: block;
                }
            }
        }
    }
}

.head{
    h1{
        font: {
            size: 5em;
            family: $sfont;
            weight: $sweight;
        }
        a &{
            color: $main_title_color;
        }

        a:hover &{
            color: $main_title_hover_color;
        }
    }
}



.feat{
    .content{
        border-bottom: $line;
    }

    article{
        .feattitle{
            @if $ribbon_display == yes {
                content: '';
                position: absolute;
                right: -10px;
                top: 30px;
                padding: 3px;
                font-size: .7em;
                color: $ribbon_color;
                text-transform: uppercase;
                background: $ribbon_bg;
                z-index: 2;

                &:after{
                    @include triangle_ra(10px, (10px/1.5), top-left, darken($ribbon_bg, 15%));
                    content: '';
                    position: absolute;
                    top: 100%;
                    right: 0;
                }
            }
            @else{
                display: none;
            }
        }
    }
}

.blog_container{
    .main_container{
        width: (95% - $sidebar_width);

        @media screen and (max-width: $sidebar_collapse){
            width: 100%;
        }
    }


    .sidebar{
        width: $sidebar_width;

    @media screen and (max-width: $sidebar_collapse){
        width: 320px;
        height: 100%;
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        top: 0px;
        right: -320px;
        background: $offcanvas_sidebar_bg;
        box-sizing: border-box;
        padding: 20px;
        transform: translate(0px, 0px);
        transition: .3s all ease;
        z-index: 108;
        color: set-button-color($offcanvas_sidebar_bg);

        .toggle_link2{
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        &.active{
            transform: translate(-320px, 0px);
            transition: .3s all ease;
        }
    }
    }
}


.full{
    $toggle_collapse: $topnav_collapse;

    .toggle_link{
        $sidebar_collapse: 0;
        @media screen and (max-width: $maxw) and (min-width: $minw){
            display: toggle_visible($toggle_collapse, $sidebar_collapse);
        }
    }
}


article{
    border-bottom: $line;

    &:last-of-type{
        border-bottom: $noborder;
    }

    footer{
        border-top: $line;
        border-bottom: $line;
        text-transform: $tags_text-transform;
        font: {
            family: $sfont;
        }
    }

    .meta{
        @if $meta_line_display == yes{
            &:after{
                content: '';
                position: absolute;
                top: 100%;
                height: 15px;
                border-bottom: $line;
                width: 10%;
                left: (50% - (10% / 2));
            }

            &:before{
                content: '';
                width: 5px;
                height: 5px;
                background: $bodybg;
                position: absolute;
                top: 160%;
                left: 50%;
                margin-top: -(5px * 1.414213562)/2.8;
                margin-left: -(5px / 2);
                transform: rotate(45deg);
                border-bottom: $line;
                border-right: $line;
                z-index: 2;
            }
        }
        @else{
            &:after, &:before{
                display: none;
            }
        }
    }

    .rm{
        font-family: $sfont;
        a{
            @include  ghostbutton($rm_border_color, $rm_background_color, $rm_hover_border_color, $rm_hover_background_color);
        }
    }
}


.comments{
    h2{
        font:{
            family: $sfont;
            weight: $sweight;
        }
    }

    .comments-list{
        li{
            border: $line;
        }

        a{
            @extend %linkline;
        }

        .comment-author{
            border-bottom: $line;
            font-weight: $ssnormal;
            @if $title_line_display == yes{
                @include arrowline($widget_title_bar_bg, $widget_title_bar_color, $line, 10px);
            }
            @else{
                position: relative;
                background: $widget_title_bar_bg;
                color: $widget_title_bar_color;
            }
        }

        .children {

            li {
                border-left: $line;
            }
        }
    }
}

.comment-respond{
    h3{
        @if $title_line_display == yes{
            @include arrowline($widget_title_bar_bg, $widget_title_bar_color, $line, 10px);
        }
        @else{
            position: relative;
            background: $widget_title_bar_bg;
            color: $widget_title_bar_color;
        }
    }

    .comment-form-comment{
        textarea {
            border-bottom:$line;
        }
    }

    .form-submit{
        input{
            font-family: $sfont;
            @include  ghostbutton($rm_border_color, $rm_background_color, $rm_hover_border_color, $rm_hover_background_color);
        }
    }
}

.group{
        input {
            border-bottom:$line;
        }

        .bar{
            &:before,
            &:after{
                background:$comment_input_highlight_color;
            }
            &:before {
                left:50%;
            }
            &:after {
                right:50%;
            }
        }
    }


.pagination {
    max-width: $max-width;

    span{
        font-family: $sfont;
        color: $pagination_color;
    }

    a{
        @extend span;
        border-top: $pagination_border;
        border-bottom: $pagination_border;

        &:hover{
            color: $pagination_hover_color;
            border-color: $pagination_hover_border_color;
        }
    }

    .current{
        color: $pagination_current_color;
        border-top: $pagination_current_border;
        border-bottom: $pagination_current_border;
    }

    .title{
        @if $pages_name_display == no{
            display: none;
        }
    }
}


.page{
    article{
        .meta{
            @if $meta_line_display == yes{
                &:after{
                    width: 20%;
                    left: (50% - (20% / 2));
                }
            }
            @else{
                &:after{
                    display: none;
                }
            }
        }
    }
}


footer{
    .foot1{
        .content{
            border-top: $line;
        }

        .widgetized{
            .widget{
                border: $noborder;
            }
        }

        .two_widget{
            > div{
                @media screen and (max-width: $widget_foot_collapse_3){
                    width: 100%;
                }
            }
        }

        .three_widget{
            > div{
                @media screen and (max-width: $widget_foot_collapse_2){
                    width: 50%;
                }

                @media screen and (max-width: $widget_foot_collapse_3){
                    width: 100%;
                }
            }
        }

        .four_widget{
                @media screen and (max-width: $widget_foot_collapse_1){
                    width: (100% / 3);
                }

                @media screen and (max-width: $widget_foot_collapse_2){
                    width: 50%;
                }

                @media screen and (max-width: $widget_foot_collapse_3){
                    width: 100%;
                }
        }
    }

    .foot2{
        background: $foot_2_bg;
        font-family: $sfont;
        color: $foot_2_color;
        a{
            font-weight: $ssnormal;
            color: $foot_2_a_color;

            &:hover{
                color: $foot_2_a_hover_color;
            }
        }

        .backtotop{
            @extend %linkline;
        }
    }

    .foot3{
        background: $foot_3_bg;
        color: $foot_3_color;
        a{
            color: $foot_3_a_color;

            &:hover{
                color: $foot_3_a_hover_color;
            }
        }

        .smline{
            .fa{
                background: $foot_3_color;
                color: $foot_3_bg;

                &:hover{
                    color: $foot_3_color;
                    background: $foot_3_bg;
                }
            }
        }
    }
}


.single{
    article{
        .meta{
            @if $meta_line_display == yes{
                &:after{
                    width: 40%;
                    left: (50% - (40% / 2));
                }
            }
            @else{
                &:after{
                    display: none;
                }
            }
        }
    }

    .page-nav{
        border-bottom: $line;
        p{
            font: {
                weight: $ssnormal;
            }
        }
    }
}
